body {
    background-color: #1c1c1c;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

table {
    background-color: #000;
    padding: 15px;
    border-radius: 20px;
    border-spacing: 10px;
}

#resultado {
    width: 100%;
    background-color: #000;
    color: white;
    border: none;
    font-size: 40px;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
}

button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
    background-color: #333;
    color: white;
}

button:hover {
    filter: brightness(1.5);
}

button[onclick*="'+'"], button[onclick*="'-'"], 
button[onclick*="'X'"], button[onclick*="'/'"], 
button[onclick="calculate()"] {
    background-color: #f1a33c;
}

button[onclick*="AC"], button[onclick*="'+/-'"], button[onclick*="'%'"] {
    background-color: #a5a5a5;
    color: black;
}

td[colspan="2"] button {
    width: 130px;
    border-radius: 30px;
}
